main {
    background-color: aquamarine;
}
nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    height: 60px;
    width: 100%;
    line-height: 50px;
    position: relative;
    top: 60px;
    
}

nav>div>a {
    text-decoration: none;
    color: white;
}

nav >div:nth-child(1) {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
}

nav >div:nth-child(2) {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
}

body {
    margin: 0;
}

#home1 {
    position: absolute;
    background-image:url(./images/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    
}
 .maingrd {
    position: relative;
    top: 453px;
} 

.tit1{
    position: relative;
    z-index: 2;
    top: 40px;
    left: 41%;
    color: rgb(231, 167, 63);
    text-shadow: 2px 2px #7e7c7c;

}

.dev{
    position: relative;
    z-index: 1;
    top: 50px;
    width: 350px;
    left:40%;
}

.sec1 {
    
    width: 1400px;
    height: 900px;
    display: grid;
    grid-template-columns: 1fr 40px 1fr;
    grid-template-rows: 200px 200px 200px 200px;
    background-color: rgb(209, 205, 205);
    /* align-items: center; */
    position: relative;
    left:10%;
    padding:20px 20px 0 20px;
    grid-gap:20px;
    
   
}

.sec2 {
    width: 1400px;
    height: 500px;
    background-color: rgb(209, 205, 205);
    position: relative;  
    left:10%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    flex-direction: row;
    padding: 30px;

    
}
.item {
    height: 200px;
    width: 600px;
    padding: 20px;

}
.one {
    background-color: rgb(221, 221, 62);
    z-index: 1;
    align-self: flex-start;
    position: absolute;
    margin-top: 35px;
    margin-left: 35px;
    
}

.two {
    background-color: pink;
    z-index: 2;
    align-self: center;
    position: absolute;
    margin-left: 30%;
     

}

.three {
    background-color: rgb(204, 11, 43);
    z-index: 3;
    align-self: flex-end;
    position: absolute;
    margin-left: 50%; 
    
}

.leftones1{
    height: 140px;
    width: 500px;
    border: 3px solid blue;
    border-radius: 5px;
    grid-row: 1/2;
    grid-column: 1/2;
    padding: 20px;
    margin-left: 100px;
}

.leftones2{
    grid-row: 3/4;
    height: 140px;
    width: 500px;
    grid-column: 1/2;
    border: 3px solid blue;
    border-radius: 5px;
    padding: 20px;
    margin-left: 100px;
}

.rightones1{
    height: 140px;
    width: 500px;
    border: 3px solid blue;
    border-radius: 5px;
    grid-row: 2/3;
    grid-column: 3/4;
    padding: 20px;
}

.rightones2{
    height: 140px;
    width: 500px;
    grid-row: 4/5;
    grid-column: 3/4;
    border: 3px solid blue;
    border-radius: 5px;
    padding: 20px;
}
.linebreak {
    grid-row:1/ span 5;
    grid-column: 2 / 3;
    height: 900px;
    display: flex;
    align-items: center;
    position: absolute;
   
    
}

.linebreak > #line {
    height: 880px;
    width: 2px;
    background-color: brown;
    grid-row:1 / span 3;
    grid-column: 2 / 3;
    display:inline-block;
    position: relative;
    z-index: 1;
    left: 10px;
    margin-bottom: 20px;

}   

.linebreak > #balls {
    display: flex;
    position: relative;
    z-index: 2;
    grid-row:1/ span 4;
    grid-column: 2 / 3;
    flex-direction: column;
    height:85%;
    justify-content: space-between;
    

}
.unit {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: blue;
    
}

.balls1 {margin-top: 20px;
    
}


.balls4 {
   margin-bottom: 70px;
}

.balls1, .balls3 {
    background-color: orange;
}

footer {
    background-color: black;
   text-align: center;
    color: white;
    position: relative;
    top: 450px;
    height: 60px;
    width: 100%;
}

.home-link {
    background-color: rgb(241, 232, 109);
    border: 1px solid orange;
    width: 60px;
    height: 14px;
    border-radius: 10px;
    padding: 20px;
    text-decoration: none;
    color: rgb(19, 18, 18);
    position: absolute;
    z-index: 6;
    top:1960px;
    left: 1500px;
    text-align: center;
    padding: 10px;
}